// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin: auto;
  border: solid 1px #cbcbcb;
  border-image-width: 1px;
  border-image-repeat: stretch;
  background-color: #ffffff;
}

tr {
  border-bottom: 1px solid #cbcbcb;
}

td {
  display: block;
  margin: 0px;
}

td img {
  width: 100%;
}

.button_wrapper {
  text-align: center;
}